<a href="https://colab.research.google.com/github/EA-park/AIFFEL/blob/main/Solution_tank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2022년 제2회 K-인공지능 제조데이터 분석 경진대회

In [1]:
from os.path import join
from google.colab import drive

ROOT = '/content/gdrive'
#drive.mount(ROOT)

Mounted at /content/gdrive

##Libraries

In [7]:
# Standard libs
import numpy as np
import pandas as pd

# Graphics
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

##Reading the data

In [8]:
WORKING_DIR = join(ROOT, 'MyDrive/Dacon/202210_KAMP')
data = pd.read_csv(join(WORKING_DIR, '경진대회용 용해탱크 데이터셋.csv'))

###데이터 속성정의
<table>
  <tr>
    <td>변수명</td>
    <td>설명</td>
    <td>테이터 타입</td>
  </tr>
  <tr>
    <td>STD_DT</td>
    <td>날짜,시간(YYYY-MM-DD HH:MM:SS)</td>
    <td>object</td>
  </tr>
  <tr>
    <td>NUM</td>
    <td>인덱스</td>
    <td>int64</td>
  </tr>
    <tr>
    <td>MELT_TEMP</td>
    <td>용해 온도</td>
    <td>int64</td>
  </tr>
    <tr>
    <td>MOTORSPEED</td>
    <td>용해 교반속도</td>
    <td>int64</td>
  </tr>
    <tr>
    <td>MELT_WEIGHT</td>
    <td>용해탱크 내용량(중량)</td>
    <td>int64</td>
  </tr>
    <tr>
    <td>INSP</td>
    <td>생산품의 수분햠유량(%)</td>
    <td>float64</td>
  </tr>
    <tr>
    <td>TAG</td>
    <td>불량여부</td>
    <td>object</td>
  </tr>
</table>

      
중소벤처기업부, Korea AI Manufacturing Platform(KAMP),
용해탱크 AI데이터셋, KAIST(UNIST, 이피엠솔루션즈), 2020.12.14.,
 https://kamp-ai.kr

- 참조 : [용해탱크 AI데이터셋 가이드북](https://www.kamp-ai.kr/front/dataset/AiDataDetail.jsp?AI_SEARCH=&page=1&DATASET_SEQ=8&EQUIP_SEL=&FILE_TYPE_SEL=&GUBUN_SEL=&WDATE_SEL=)

###An overview from the data

In [9]:
data.head()

            STD_DT  NUM  MELT_TEMP  MOTORSPEED  MELT_WEIGHT  INSP TAG
0  2020-03-04 0:00    0        489         116          631  3.19  OK
1  2020-03-04 0:00    1        433          78          609  3.19  OK
2  2020-03-04 0:00    2        464         154          608  3.19  OK
3  2020-03-04 0:00    3        379         212          606  3.19  OK
4  2020-03-04 0:00    4        798        1736          604  3.21  OK

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835200 entries, 0 to 835199
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STD_DT       835200 non-null  object
 1   NUM          835200 non-null  int64
 2   MELT_TEMP    835200 non-null  int64
 3   MOTORSPEED   835200 non-null  int64
 4   MELT_WEIGHT  835200 non-null  int64
 5   INSP         835200 non-null  float64
 6   TAG          835200 non-null  object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.6+ MB

In [11]:
data.describe()

,NUM,MELT_TEMP,MOTORSPEED,MELT_WEIGHT,INSP
count,835200.000000,835200.000000,835200.000000,835200.000000,835200.000000
mean,417599.500000,509.200623,459.782865,582.962125,3.194853
std,241101.616751,128.277519,639.436413,1217.604433,0.011822
min,0.000000,308.000000,0.000000,0.000000,3.170000
25%,208799.750000,430.000000,119.000000,186.000000,3.190000
50%,417599.500000,469.000000,168.000000,383.000000,3.190000
75%,626399.250000,502.000000,218.000000,583.000000,3.200000
max,835199.000000,832.000000,1804.000000,55252.000000,3.230000

In [12]:
data['STD_DT'] = data['STD_DT'].apply(lambda x: pd.to_datetime(str(x), 
                                                               format='%Y-%m-%d %H:%M:%S'))